<div>
  <h2>Olá {{name}},</h2>
  <h3>{{notification.title}}</h3>
  <p>{{notification.message}}</p>
  {{#if action}}
    <a
      href='{{action.url}}'
      style='display: inline-block; padding: 12px 24px; background-color: #97c52a; color: #2d2b2e; text-decoration: none; border-radius: 12px; font-weight: bold; border-style: solid;  border-width: 1px;   border-color: #7da623; border-bottom-width: 4px;'
    >
      {{action.text}}
    </a>
  {{/if}}
  <footer>
    <p>© {{currentYear}} {{appName}}. Todos os direitos reservados.</p>
  </footer>
</div>